<!DOCTYPE html>
<html>
<head>
  <title>Rails Reddit Clone</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= render partial: "layouts/header" %>

<% flash.each do |key, value| %>
  <div class="alert <%= key == 'alert' ? 'alert-danger' : 'alert-info' %> alert-dismissible fade show" role="alert">
    <%= value %>
    <button
      type="button"
      class="float-right btn-close"
      data-dismiss="alert"
      aria-label="Close"
      onclick="$('.alert').alert('close')"
    >
    </button>
  </div>
<% end %>


<section class="bg-light">
  <div class="container py-4">
    <div class="row">
      <div class="col-sm-12">
        <%= yield %>
      </div>
    </div>
  </div>
</section>

<%= render partial: "layouts/footer" %>
</body>
</html>
